
@{
    ViewData["Title"] = "OdrzanCas";
}

@using Ispit_2017_02_15.ViewModel
@{
    Layout = "_Layout";
}

@model UrediCasViewModel;

<form method="post" asp-action="UrediOdrzanCas" asp-route-OdrzanCasId="@Model.OdrzanCasId">
    <h3>Novi čas</h3>
    <table class="table">
        <tbody>
            <tr>
                <td>Nastavnik: </td>
                <th>@Model.ImePrezimeNastavnika</th>
            </tr>
            <tr>
                <td>Datum: </td>
                <td><input required type="date" name="datum" asp-for="Datum" /></td>
            </tr>
            <tr>
                <td>Ak. godina / predmet: </td>
                <th>@Model.AkGodinaPredmet</th>
            </tr>
            <tr>
                <td>
                    <button type="submit" class="btn btn-primary">Azuriraj</button>
                </td>
                <td> </td>
            </tr>
        </tbody>
    </table>
</form>


<div id="odrzanCasDetaljiParent">

</div>




<environment include="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</environment>
<environment exclude="Development">
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery"
            crossorigin="anonymous"
            integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
    </script>
    <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
            crossorigin="anonymous"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
    </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
</environment>

<script>
        function ucitajOdrzanCasDetalji() {
        $.ajax({
            url: '/Odjeljenje/OdrzaniCasDetalji',
            data: { odrzanCasId: @Model.OdrzanCasId},
            success: function (data) {
                $("#odrzanCasDetaljiParent").html(data);
            },
        });
        }

        ucitajOdrzanCasDetalji();

</script>