@using RS1_Ispit_asp.net_core.ViewModels;
@model UcenikaPopravnogIspitaVM;
@{
    Layout = null;
}

<br />
<br />
<form asp-action="IzmjeniBodoveUceniku" asp-route-PopravniIspitStavkaId="@Model.PopravniIspitStavkaId">
    <table class="table">
        <tr>
            <td>Učenik:</td>
            <td>@Model.ImePrezimeUcenika</td>
        </tr>
        <tr>
            <td>Bodovi: </td>
            <td>
                <input asp-for="@Model.BodoviUcenika" max="100" min="0" name="bodovi" type="number" class="form-control" />
            </td>
        </tr>
        <tr>
            <td><button class="btn btn-primary">Snimi</button></td>
            <td> </td>
        </tr>

    </table>
</form>
