@model  RS1_Ispit_asp.net_core.ViewModels.PopravniIspitDodajVM
@{
    ViewData["Title"] = "Dodaj";
}

<h3>Dodaj popravni ispit</h3>

<form asp-action="Snimi">
    <input asp-for="PopravniIspitId" hidden />
    <div class="form-group">
        <label>Predmet: @Model.Predmet</label>
    </div>
    <div class="form-group">
        <label>Razred: @Model.Razred</label>
    </div>
    <div class="form-group">
        <label>Datum: </label>
        <input asp-for="Datum" class="form-control" />
    </div>
    <div class="form-group">
        <label>Skola: </label>
        <select asp-for="SkolaId" asp-items="Model.Skola" class="form-control" ></select>
    </div>

    <div class="form-group">
        <label>Skolska godina: </label>
        <select asp-for="SkolskaGodinaId" asp-items="Model.SkolskaGodina" class="form-control" ></select>
    </div>
    <button class="btn btn-info">Snimi</button>
</form>

